<!DOCTYPE html>
<html>
		<head>
				<title>Files list</title>
				<meta charset="utf-8" />
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
				<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
				<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		</head>
		<body>
				<h1>Files list</h1>
				<br>
				<ul>
				{% for f in files %}
						<li><a href="/uploads/{{ f }}">{{ f }}</a></li>
				{% endfor %}
				</ul>
				<br>
				<a href="/">Upload</a>
		</body>
</html>
